@media (max-width: 600px) {
	.tabs__item span {
		display: block;
		width: 100px;
		padding: 0px 5px;
		white-space: nowrap;
		text-align: center;
		overflow: hidden;
		font-size: 14px;
		text-overflow: ellipsis;
	}
}
.tabs {
	height: 100%;

	&__items {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__item {
		flex: 1;

		height: 50px;

		display: flex;
		justify-content: center;
		align-items: center;

		color: $primary-f-color;
		text-decoration: none;
		text-transform: uppercase;

		span {
			position: relative;
			z-index: $ui-index-2;
		}

		transition: all 0.3s ease-in-out;
		&:nth-child(1):hover{
			background-color: #eb8698;
		}
		&:nth-child(2):hover{
			background-color: #9278aa;
		}
	}

	&__body {
		// height: 100%;
	}

	&__block {
		position: relative;

		padding: 20px;
		font-size: 1rem;
		line-height: 24px;

		display: none;
		&:target {
			display: block;
			height: calc(100vh - 86px);
		}

		&::before {
			content: "";
			height: 50px;
			width: 50%;
			position: absolute;
			top: -50px;
		}
	}
}
.tabs__block:nth-child(1) {
	background-color: #eb8698;
}
.tabs__block:nth-child(1):before {
	background-color: #eb8698;
	left: 0;
}
.tabs__block:nth-child(2) {
	background-color: #9278aa;
}
.tabs__block:nth-child(2):before {
	background-color: #9278aa;
	left: 50%;
}
